#mosqueName {
  font-size: 1.3vw;
}

#mosqueAddress {
  font-size: 1.2vw;
}

#time {
  color: #bf9000;
  letter-spacing: 0.5rem;
  font-size: 4.1svw;
  /* font-size: 50px !important; */
}

#timeArea {
  color: #bf9000;
  font-size: 5svh;
}

#local {
  padding-left: 4.5svh;
}
